* {
    overflow: hidden; /*remove scrollbar*/
    margin: 0;
    
}

.hidden {
    display: none;
}

/*
    shared
*/
.daily, .rapid, .leaderboard, .howto {
    width: 100%;
    height: 100vh;
    background-color: #333445;
    
}

/*
    leaderboard 
*/
.leaderboard {

    .spacer-leaderboard {
        height: 25px;
    }
    .content-leaderboard {
        display: flex;
        justify-content: center;
    }

    .leaderboard-logo {

        height: 35px;
        margin-right: 170px;
      
    }

    .leaderboardBtn {
        margin-right: 125px;
        height: 35px
    }

    .users {
        .profile {
            display: flex;
            justify-content: center;
            font-size:larger;
            color: white;

            /*.rank {
                margin-right: 50px;
            }
            .name {
                margin-right: 90px;
            }
            .score {
                margin-left: 170px;
            }*/
        }
    }

    
    .profile::before {
        counter-increment: list-counter;
        content: counter(list-counter) ". ";
        color: white;
      }
}

/*
    daily
*/
.daily {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
    
    .container-daily {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skipBtn, .guessBtn {
        height: 50px;
    }

    .textarea-daily {
        font-size: 15px;
        border: 3px solid #272629;
        border-radius: 15px;
        width: 240px;
        padding: 10px;
        height: 27px;
        text-align:center;
        color: white;
        background-color: #4C4D5B;

    }

    .textarea-daily::placeholder {
        font-size: 15px;
        color: rgb(185, 180, 180);
    }

    .textarea-daily:focus {
        outline: none;
        border-color: #C9534F;
    }

    .spacer-daily {
        height: 25px;
    }

    .spacer2-daily {
        height: 45px;
    }

    .spacer3-daily {
        height:100px;
    }

    .content-daily {
        display: flex;
        justify-content: center;
    }

    .daily-logo {

        height: 35px;
        margin-right: 170px;
      
    }

    .dailyBtn {
        margin-right: 125px;
        height: 35px
    }

    .word-daily {
        font-size: x-large;
        color:white;
        
    }

    
}
/*
    rapid
*/
.rapid {
    .spacer-rapid {
        height: 250px;
    }

    .content-rapid {
        display: flex;
        justify-content: center;
    }
}

/*
    howto
*/
.howto {
    .spacer-howto {
        height: 250px;
    }

    .content-howto {
        display: flex;
        justify-content: center;
    }
}

/*
    home
*/
.home {
    background-color: #333445;

    height: 100vh; /*all of viewport height*/
    width: 100%; /*all of viewport width*/
    margin: 0;
    padding: 0;
    
}

.spacer1 {
    flex-grow: 1;
    height: 50px;
}

.spacer2 {
    flex-grow: 1;
    height: 40px;
}

.header {
    justify-content: center; /*center the header*/
    display: flex;
    height: 100px;
  
}

.options {
    display: flex; /*use inline-flex to allow centering*/
    flex-direction:column;
    justify-content: center; /*center the options*/
    align-items: center; /*align items vertically*/
    gap: 15px;
    
}
.options-btn {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 35px;
    border-width: 2px;
    
    font-size: 12px;
    font-weight: 600;
    cursor:pointer;
    color: rgb(243, 241, 241);
    border: solid;
 
}

.dailyHome, .rapidHome{
    background-color: #C9534F;
    border-color: #C9534F;
    
}



.leaderboardHome, .howtoHome{
    background-color: transparent;
    border-color: #bca1aa;
    color: white;
    font-size: 12px;
    border-width: 1px;
    
}

.options-btn:hover {
    background-color: #b03a2e; /* Darken background color on hover */
   
    border-color: #b03a2e; /* Darken border color on hover */
}

