* {
    /*overflow: hidden; /*remove scrollbar*/
    margin: 0;
    background-color: #333445;
 
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
}

.hidden {
    display: none;
}

/*
    shared
*/
.daily, .rapid, .leaderboard, .howto, .end {
    width: 100%;
    height: 100vh;
    background-color: #333445;
}

/*
    leaderboard 
*/
.leaderboard {

    .spacer-leaderboard {
        height: 25px;
    }
    .content-leaderboard {
        display: flex;
        justify-content: center;
    }

    .leaderboard-logo {

        height: 30px;
        margin-right: 160px;
      
    }

    .leaderboardBtn {
        margin-right: 125px;
        height: 30px
    }

    .users {
        height:300px; /* CHANGE THIS IF TOO SMALL OR LARGE*/
        .profile {
            font-family: "Georama", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            
            display: flex;
            justify-content: center;
            font-size:larger;
            color: white;

            #leaderboard{
              list-style:none;
            }

            .topThree{
              padding-left: 0 !important;
              margin-left: 0 !important;
            }
        }
    }

    .return-leaderboard { 
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: relative;
    }

    .leaderboardRefresh {
        position: absolute;
        width: 250px;
        height: auto;
        margin-left: -123px;
        -webkit-transition: 0s all;   
        -moz-transition: 0s all;   
        -ms-transition: 0s all;   
        -o-transition: 0s all;   
        transition: 0s all;   
    }

    /* refer to the comment in the howto part of this file for
    an explanation of these lines.  */
    #leaderboardRefresh_highlight {
        visibility: hidden;
        margin-left: -127px;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #leaderboardRefresh:hover {
        visibility: hidden;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #leaderboardRefresh:hover ~ #leaderboardRefresh_highlight {
        visibility: visible;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #leaderboardRefresh_highlight:hover {
        visibility: visible;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #leaderboardRefresh_highlight:hover ~ #leaderboardRefresh {
        visibility: hidden;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    }
}

/*
    daily
*/
.daily {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    
    .container-daily {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skipBtn, .guessBtn {
        height: 60px;
    }

    .textarea-daily {
        font-size: 19px;
        border: 3px solid #272629;
        border-radius: 15px;
        width: 290px;
        padding: 10px;
        height: 35px;
        text-align:center;
        color: white;
        background-color: #4C4D5B;
        resize: none;
        overflow: hidden;

    }

    .textarea-daily::placeholder {
        font-size: 19px;
        color: rgb(185, 180, 180);
    }

    .textarea-daily:focus {
        outline: none;
        border-color: #C9534F;
    }

    .spacer-daily {
        height: 25px;
    }

    .spacer2-daily {
        height: 100px;
    }

    .spacer3-daily {
        height: 150px;
    }

    .content-daily {
        display: flex;
        justify-content: center;
    }

    .daily-logo {

        height: 35px;
        margin-right: 65px;
      
    }

    .amtLeft {
        display: inline-block;
        margin: 0;
        margin-right: 100px;
        color: white;
        
    }

    .dailyBtn {
        margin-right: 125px;
        height: 35px
        
    }

    .word-daily {
        font-size: xx-large;
        color:white;
        
    }
}
/*
    rapid
*/
.rapid {
   
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;

    .container-rapid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skipBtnRapid, .guessBtnRapid {
        height: 60px;
    }

    .textarea-rapid {
        font-size: 19px;
        border: 3px solid #272629;
        border-radius: 15px;
        width: 290px;
        padding: 10px;
        height: 35px;
        text-align: center;
        color: white;
        background-color: #4C4D5B;
        resize: none;
        overflow: hidden;
    }

    .textarea-rapid::placeholder{
        font-size: 19px;
        color: rgb(185, 180, 180);
    }

    .textarea-rapid:focus{
        outline: none;
        border-color: #FF9E42;
    }

    .spacer-rapid {
        height: 25px;
    }

    .spacer2-rapid {
        height: 100px;
    }

    .spacer3-rapid {
        height: 150px;
    }

    .content-daily {
        display: flex;
        justify-content: center;
    }

    .rapidLogo {
        height: 35px;
        margin-right: 55px;
    }

    .amtLeftRapid {
        display: inline-block;
        margin: 0;
        margin-right: 100px;
        color: white;
    }

    .rapidBtn {
        margin-right: 115px;
        height: 35px;
    }

    .word-rapid {
        font-size: 32px !important;
        color: white;
    }


}

/*
    howto
*/
.howto {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
    

    .container-howto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }

    .howtoLogo {
        height: 30px;
        margin-right: 160px;
    }
    
    .how-tobtn {
        height: 30px;
        margin-right: 90px;
    }

    .howtoinfo {
        height: 400px;
        margin-left: 50px;
    }

    .spacer-howto {
        height: 65px;
    }



    .return-howto {
        display: flex;
        justify-content: center;
        margin-top: 200px;
        position: relative;
    }

    .howtoBtn {
        position: absolute;
        width: 250px;
        height: auto;
        margin-left: -122px;
        -webkit-transition: 0s all;   
        -moz-transition: 0s all;   
        -ms-transition: 0s all;   
        -o-transition: 0s all;   
        transition: 0s all;  
    }

    /* This mess of code essentially just hides the top button when hovering and unhides the bottom button, then
    vice versa when not hovering. The top button is the unhighlighted version, while the bottom button is the
    highlighted one (saved as return_hover.png in webroot/assets). */
    /* The many different versions of "transition-delay" are for 
    browser compatability. */
    #howtoBtn_highlight {
        visibility: hidden;
        margin-left: -127px;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #howtoBtn:hover {
        visibility: hidden;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #howtoBtn:hover ~ #howtoBtn_highlight {
        visibility: visible;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #howtoBtn_highlight:hover {
        visibility: visible;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #howtoBtn_highlight:hover ~ #howtoBtn {
        visibility: hidden;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    }
}

/* 
    end page
*/
.end {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;

    
    .title-congrats {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 30px;
        color: white;
    }
    .content-congrats {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: -10px;
        font-size: 22px;
        color:white;
    }
    .results {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 30px;
        color:var(--results-color);
    }

    .definitions {
        position: absolute;
        height:100px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 10px);
        border: grey;
        border-width: 2px;
        border-style: solid;

        width:400px;
        margin-top: 5px;
        font-size: 22px;
        height:200px;
        
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #4C4D5B;
        background-color: #C9534F;
        color:white;
        text-align: center;
        white-space: pre-line;
    }

    .return-end {
        display: flex;
        justify-content: center;
        margin-top: 230px;
        position: relative;
    }

    .endBtn {
        position: absolute;
        width: 250px;
        height: auto;
        margin-left: -123px;
        -webkit-transition: 0s all;   
        -moz-transition: 0s all;   
        -ms-transition: 0s all;   
        -o-transition: 0s all;   
        transition: 0s all;  
    }

    /* see the comment in howto div for explanation*/
    #endBtn_highlight {
        visibility: hidden;
        margin-left: -128px;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #endBtn:hover {
        visibility: hidden;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #endBtn:hover ~ #endBtn_highlight {
        visibility: visible;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #endBtn_highlight:hover {
        visibility: visible;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    } #endBtn_highlight:hover ~ #endBtn {
        visibility: hidden;
        transition-delay: 50ms;
        -o-transition-delay: 50ms; 
        -ms-transition-delay: 50ms; 
        -moz-transition-delay: 50ms; 
        -webkit-transition-delay: 50ms; 
    }
}



/*
    home
*/
.home {
    background-color: #333445;

    height: 100vh; /*all of viewport height*/
    width: 100%; /*all of viewport width*/
    margin: 0;
    padding: 0;
    
}
.wordOfDay {
    color: rgb(192, 125, 125);
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    

}
.spacer1 {
    flex-grow: 1;
    height: 50px;
}

.spacer2 {
    flex-grow: 1;
    height: 40px;
}

.header {
    justify-content: center; /*center the header*/
    display: flex;
    height: 85px;
    margin-right: 45px;
}

.options {
    display: flex; /*use inline-flex to allow centering*/
    flex-direction:column;
    justify-content: center; /*center the options*/
    align-items: center; /*align items vertically*/
    gap: 15px;
    
}
.options-btn {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 35px;
    border-width: 2px;
    transition-duration: 0.3s;
    
    font-size: 12px;
    font-weight: 600;
    cursor:pointer;
    color: rgb(243, 241, 241);
    border: solid;
 
}

.dailyHome, .rapidHome{
    background-color: #C9534F;
    border-color: #C9534F;
    
}



.leaderboardHome, .howtoHome{
    background-color: transparent;
    border-color: #bca1aa;
    color: white;
    font-size: 12px;
    border-width: 1px;
    
}

.options-btn:hover {
    background-color: #b03a2e; /* Darken background color on hover */
   
    border-color: #b03a2e; /* Darken border color on hover */
}
